__pycache__/
.vscode/
crnn/CTC/
crnn/Loc/
crnn/Res50/
crnn/Res101/
crnn/Res101v2/
crnn/CRnn/
crnn/CRnnv2/
crnn/*.out
crnn/helper.txt
crnn/res/
test.py
crnn/test_*
crnn/*.pptx
crnn/chaps/
crnn/ctc_ps/
crnn/elps/
crnn/roi_data/
crnn/elchaps/
crnn/ps/
crnn/crnn_ctc.md
